[Me]
Name={DIST}
AAA_Addr={PUBLIC_IP}
AAA_Port=8101

[FILE]
USE_DB = Enabled

[Login]
EXPRESS_WAY = Enabled
MAX_USER = 512

[REBOOT]
SERVER_PORT = 9257
BROADCAST_INTERVAL = 5
BROADCAST_TIMES = 6
DENY_LOGIN_INTERVAL = 10
